<h1>Fofacli新手入门演示视频</h1>
<p>
  <embed src="http://player.youku.com/player.php/sid/XNzQ4OTYyNzYw/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
</p>
