development:
  port: 9312
  address: localhost
  mysql41: 9306
  #configuration_file: "RAILS_ROOT/config/development.sphinx.conf"
  connection_options:
    username: root
    password:
    database: webdb
    
