<% if @info %>
<div class="alert fade in">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <strong>提示：</strong> <%=@info%>
</div>
<% end %>

<%= form_tag('/userhost/addhost', method:'post') do %>
  请输入网址:  <%= text_field_tag(:host, "", :class=>'input-medium search-query', :style => 'width: 400px') %>
  <%= content_tag(:button, raw('提交'), :class => 'btn btn-primary') %>
<% end %>

<pre>
提交网站能够让我们更多的收录，让大家有更大的查询库。
</pre>
