

<div class="row">
  <div class="col-xs-6 col-sm-6" id="logPanel">
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="pull-right col-sm-auto" style="margin:10px">
      <%= link_to raw('<li class="fa fa-plus"></li>添加入口'), new_target_asset_entrance_path(@target), remote: true, class: "btn btn-info btn-sm"%>
    </div>
  </div>
</div>
<!-- Start .bredcrumb -->
<ul id="crumb" class="breadcrumb">
  <li><i class="im-home"></i><a href="/my">管理首页</a><i class="en-arrow-right7"></i></li>
  <li><i class="im-home"></i><%= link_to @target.name, target_path(@target)%><i class="en-arrow-right7"></i></li>
  <li><i class="im-screen"></i> 企业入口资产 </li>
</ul>
<!-- End .breadcrumb -->

<div class="entrance-list-index">
<%= render 'index' %>
</div>


<div class="modal fade bs-modal-sm add-entrance-modal" tabindex="-1" role="dialog" aria-hidden="true" id="add-entrance-modal">
</div>

<script>
$( document ).ready(function() {
    $.getScript("/my/targets/<%= @target.id %>/asset_entrances/reload.js");
});
</script>