// Place all the styles related to the my controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sidebar{
  width:210px;
  height:auto;
  position:absolute;
  left:0;
  bottom:0;
  top:60px;
  z-index:99
}

#sidebar:hover .resizableBtn{
  display:block
}

#sidebar.sidebar-fixed{
  position:fixed
}

#sidebar.hide-sidebar{
  margin-left:-210px
}

#sidebar.hide-sidebar:after{
  left:-210px
}

#sidebar:after{
  content:"";
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  width:210px;
  background:#f3f5f6;
  border-right:1px solid #e7e7e2;
  z-index:-1
}

#sidebar .sidebar-inner{
  position:relative;
  width:auto;
  height:100%
}

#sidebar #sideNav .top-search{
  position:relative
}

#sidebar #sideNav .top-search input{
  border:none;
  border-bottom:1px solid transparent;
  background:0 0;
  height:50px;
  padding-left:50px;
  width:100%
}

#sidebar #sideNav .top-search input:focus,#sidebar #sideNav .top-search input:hover{
  background:#e4e9eb
}

#sidebar #sideNav .top-search input:focus{
  border-bottom:1px solid #e0e0da
}

#sidebar #sideNav .top-search button{
  position:absolute;
  left:8px;
  top:13px;
  border:none;
  background:0 0
}

#sidebar #sideNav .top-search button i{
  color:#acb1b8
}

#sidebar #sideNav li{
  float:left;
  width:100%;
  margin-top:0;
  border-right:1px solid #e7e7e2
}

#sidebar #sideNav li a{
  padding:15px;
  position:relative;
  color:#768399;
  height:50px;
  border-radius:0;
  background:#f3f5f6;
  -webkit-transition:background;
  transition:background;
  -webkit-transition-duration:.4s;
  transition-duration:.4s
}

#sidebar #sideNav li a i{
  font-size:20px;
  margin-right:15px;
  float:left;
  color:#acb1b8;
  -webkit-transition:all;
  transition:all;
  -webkit-transition-duration:.4s;
  transition-duration:.4s;
  width:auto;
  margin-bottom:0;
  text-shadow:1px 1px 1px #fff
}

#sidebar #sideNav li a i.sideNav-arrow{
  float:right;
  margin-right:0;
  margin-left:5px
}

#sidebar #sideNav li a i.s16{
  right:17px
}

#sidebar #sideNav li a .notification{
  position:relative;
  display:inline-block;
  top:auto;
  right:auto;
  float:right;
  margin-left:10px
}

#sidebar #sideNav li a .indicator{
  position:absolute;
  top:-1px;
  left:0;
  height:51px;
  width:4px;
  background:#75b9e6;
  opacity:0
}

#sidebar #sideNav li a:hover{
  background:#eaeeef
}

#sidebar #sideNav li a:hover .notification.onhover{
  opacity:1
}

#sidebar #sideNav li a.active{
  background:#fff;
  font-weight:700;
  border-right:1px solid transparent;
  margin-right:-1px;
  border-top:1px solid #e0e0da;
  border-bottom:1px solid #e0e0da
}

#sidebar #sideNav li a.active i,#sidebar #sideNav li a:hover i{
  color:#75b9e6;
  text-shadow:none
}

#sidebar #sideNav li a.expand{
  background:#eaeeef;
  border-bottom:1px solid #e0e0da
}

#sidebar #sideNav li a.expand .notification.onhover{
  opacity:1
}

#sidebar #sideNav li a.expand i{
  color:#75b9e6
}

#sidebar #sideNav li .sub{
  display:none;
  margin-right:-1px
}

#sidebar #sideNav li .sub a{
  background:#fcfcfd;
  border-top:1px solid transparent;
  border-bottom:1px solid transparent
}

#sidebar #sideNav li .sub a.active{
  background:#fff;
  font-weight:700;
  border-right:1px solid transparent;
  margin-right:-1px;
  border-top:1px solid #e0e0da;
  border-bottom:1px solid #e0e0da
}

#sidebar #sideNav li .sub a:hover{
  background:#eaeeef
}

#sidebar #sideNav li .sub li:first-child a.active,#sidebar #sideNav li .sub li:first-child a.active:hover,#sidebar #sideNav li .sub li:first-child a:hover{
  border-top:1px solid transparent
}

#sidebar #sideNav li .sub.show li:last-child>a{
  border-bottom:1px solid #e0e0da
}

#sidebar #sideNav li .sub li.hasSub>a{
  border-top:1px solid #e0e0da
}

#sidebar #sideNav li .sub li.hasSub>a.expand{
  background:#eaeeef
}

#sidebar #sideNav.hasSub a.expand{
  border-top-color:transparent
}

#sidebar .server-stats{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
  position:relative
}

#sidebar .server-stats .sparkline,#sidebar .server-stats span.percent,#sidebar .server-stats span.txt{
  width:100%;
  display:inline-block
}

#sidebar .server-stats span.txt{
  font-size:13px;
  font-weight:700;
  margin-bottom:10px;
  margin-top:10px
}

#sidebar .server-stats span.percent{
  font-size:32px;
  line-height:32px;
  font-weight:700;
  margin-bottom:10px
}

#sidebar .server-stats span.percent:after{
  content:"%"
}

#sidebar .server-stats .sparkline{
  margin-bottom:10px
}

#sidebar .server-stats .pie-chart{
  position:absolute;
  right:10px;
  top:30px
}

#content{
  margin-left:200px;
  /*padding:50px 25px 25px*/
}

#content.sidebar-page{
  margin-left:200px
}

#content.full-page{
  margin-left:0
}

#content.offCanvas{
  width:100%;
  margin-left:200px
}

#content.overLap{
  margin-left:0
}

#content .content-wrapper{
  height:auto;
  float:left;
  width:100%;
  position:relative
}

#content .content-wrapper .outlet{
  position:relative
}

#content .content-wrapper .heading:after,#content .content-wrapper .heading:before{
  content:" ";
  display:table
}

#content .content-wrapper .heading:after{
  clear:both
}

#content .content-wrapper .heading h1.page-header{
  font-size:24px;
  border-bottom:none;
  margin:12.5px 0;
  padding:0;
  background:#fff;
  font-weight:300;
  width:auto
}

#content .content-wrapper .heading h1.page-header i{
  font-size:42px;
  opacity:.1;
  filter:alpha(opacity=10);
  margin-right:10px;
  float:none
}

#content .content-wrapper .heading h1.page-header [class*=icomoon-]{
  margin-top:-4px
}

#content .content-wrapper .heading .breadcrumb{
  line-height:20px;
  border-radius:4px;
  background:#f3f5f6;
  padding:15px;
  margin-bottom:12.5px
}

#content .content-wrapper .heading .breadcrumb i{
  color:#acb1b8;
  font-size:16px;
  padding:0 5px;
  margin-top:-3px
}

#content .content-wrapper .heading .breadcrumb i.divider{
  padding-right:0
}

#content .content-wrapper .heading .breadcrumb>li{
  display:inline-block
}

#content .content-wrapper .heading .breadcrumb>li+li:before{
  content:"";
  float:left;
  padding:0 2px;
  color:#ccc
}

#content .content-wrapper .heading .option-buttons{
  float:right;
  width:auto;
  height:50px;
  margin-bottom:20px;
  margin-top:-120px;
  padding-left:15px
}

#content .content-wrapper .heading .option-buttons .dropdown-menu{
  margin-top:15px
}

#content .content-wrapper .heading .option-buttons .dropdown-menu:after,#content .content-wrapper .heading .option-buttons .dropdown-menu:before{
  bottom:100%;
  right:12px;
  border:solid transparent;
  content:" ";
  height:0;
  width:0;
  position:absolute;
  pointer-events:none
}

#content .content-wrapper .heading .option-buttons .dropdown-menu:after{
  border-color:rgba(255,255,255,0);
  border-bottom-color:#fff;
  border-width:10px;
  margin-left:-10px;
  right:13px
}

#content .content-wrapper .heading .option-buttons .dropdown-menu:before{
  border-color:rgba(231,231,226,0);
  border-bottom-color:#e7e7e2;
  border-width:11px;
  margin-left:-11px
}

#content .content-wrapper .heading .option-buttons .btn-toolbar:not(.note-toolbar)>.btn-group.open .dropdown-toggle{
  box-shadow:none
}

#content .content-wrapper .heading .option-buttons .btn-toolbar:not(.note-toolbar)>.btn-group>.btn{
  padding:12px
}

#content .content-wrapper .heading .option-buttons .btn-toolbar:not(.note-toolbar)>.btn-group a{
  line-height:24px
}

#content .content-wrapper .heading .option-buttons .option-dropdown{
  width:320px;
  padding:10px;
  float:left
}

#content .content-wrapper .heading .option-buttons #lock-timer{
  vertical-align:text-bottom
}