@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
body {
    font-family: "Open Sans", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.heading-font {
    font-family: "Open Sans", Arial, sans-serif;
}