<h1>编辑规则组</h1>
<div class="bs-component">
  <ul class="breadcrumb">
    <li><%= link_to '规则组管理', categories_path %></li>
    <li class="active">编辑规则组</li>
  </ul>
</div>

<%= render 'form' %>

<%= link_to '显示', @category %> |
<%= link_to '返回', categories_path %>
