<h1></h1>
<p>
<div class="jumbotron">
  <h1>FOFA介绍</h1>
  
本程序用于对互联网网站结构进行分析。<br/>
<br/>
<h3>流程：</h3><br/>
1、提交域名<br/>
2、请求sidekiq任务，请求http<br/>
3、提取title、header、body<br/>
4、提取ip<br/>
5、提取tag，包括server、applicationserver、cms、中间件等<br/>
6、提交elasticsearch进行索引<br/>
<br/>
<h3>触发事件：</h3><br/>
1、每7天自动更新一次<br/>
2、每天统计一次服务器类型版本分布<br/>
3、每天供给一次cms类型版本分布<br/>
4、每天根据ip提取国家打tag<br/>
5、每天根据cms打tag<br/>
<br/>
<h3>依赖开源项目，感谢所有无私奉献的开源工作者：</h3><br/>
1、elasticsearch<br/>
2、sidekiq<br/>
3、mysql<br/>
4、ruby & rails<br/>
   使用的依赖库：will_paginate、mysql2、twitter-bootstrap-rails、Sidekiq、whenever、chartkick、gearman-ruby、guess_html_encoding、nokogiri、redis、domainatrix、parslet<br/>
5、redis<br/>

</div>
</p>
