<% content_for :title, 'FOFA付费计划' %>

<h1>付费计划</h1>


<table class="table table-hover table-bordered">
  <thead>
  <tr>
    <th></th>
    <th>免费账户</th>
    <th>高级账户</th>
    <th>代码服务</th>
    <th>网址数据</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>查询数量限制</td>
    <td>未登录100条<br/>登录后1000条</td>
    <td>无限制</td>
    <td>无限制</td>
    <td>无限制</td>
  </tr>
  <tr>
    <td>漏洞库</td>
    <td>部分，有延时</td>
    <td>所有，无时延</td>
    <td>所有，无时延</td>
    <td>所有，无时延</td>
  </tr>
  <tr>
    <td>API接口（JSON格式）</td>
    <td>无</td>
    <td>有</td>
    <td>一年</td>
    <td>一年</td>
  </tr>
  <tr>
    <td>服务支持</td>
    <td>无</td>
    <td>有</td>
    <td>一年</td>
    <td>一年</td>
  </tr>
  <tr>
    <td>fofa所有代码</td>
    <td>无</td>
    <td>无</td>
    <td>有</td>
    <td>有</td>
  </tr>
  <tr>
    <td>全量网址数据</td>
    <td>无</td>
    <td>无</td>
    <td>无</td>
    <td>有</td>
  </tr>

  <tr>
    <td>报价</td>
    <td>免费</td>
    <td>包月1000元每月<br/>包年8000一年</td>
    <td>5万</td>
    <td>10万</td>
  </tr>
  </tbody>
</table>
