
<h1>建站类组件库列表(共计<%=@all_cnt%>条) <a href="/info/libraryfull">查看所有列表</a></h1>

<%
 @categories.each { |cat|
%>
      <h2><%=cat.title%></h2>
  <%
     cat.rules.each { |r|
  %>
        <%= link_to(r.product, "/search/result?qbase64="+CGI.escape(Base64.encode64(r.rule))) + raw('， ') %>
  <%
     }
  %>
    <p>
    </p>
<%
   }
%>


<p>
<a href="/submit/library">提交组件库</a>
</p>
