<% content_for :title, 'FOFA积分等级说明' %>

<h1>FOFA积分等级说明</h1>
<p>每成功添加一个host（未收录且能正常访问），+1分</p>
<p>每成功添加一条Rule（未收录且验证有效），+10分</p>
<p>每成功添加一个exploit或者payload（未收录且验证有效），+100分</p>

<p>1000分后自动升级为高级帐号。</p>
