<footer>
  <div class="about-app pd-md animated pulse">
    <a href="javascript:;">
      <img src="/img/about.png" alt="">
    </a>
                        <span>
<b>FOFA</b>&#32; 是一款用于帮助安全人员进行协同测试的平台。
<a href="javascript:;">
  <b>更多说明</b>
</a>
</span>
  </div>
  <div class="footer-toolbar pull-left">
    <a href="javascript:;" class="pull-left help">
      <i class="fa fa-question-circle"></i>
    </a>
    <a href="javascript:;" class="toggle-sidebar pull-right hidden-xs">
      <i class="fa fa-angle-left"></i>
    </a>
  </div>
</footer>