<div class="scroll-menu">

  <nav class="main-navigation slimscroll" data-height="auto" data-size="4px" data-color="#ddd" data-distance="0">
    <ul>
      <li <%if controller_name=='my' && action_name=="index"%>class="active"<%end%> >
        <a href="/my">
          <i class="fa fa-coffee"></i>
          <span>管理面板</span>
        </a>
      </li>
      <li class="dropdown<%if (controller_name=='rules' || controller_name=='categories')%> collapse-open open<%end%>">
        <a href="javascript:;" data-toggle="dropdown">
          <i class="fa fa-eye"></i>
          <span>规则管理</span>
          <i class="toggle-accordion"></i>
        </a>
        <ul class="dropdown-menu">
          <li <%if controller_name=='rules'%>class="active"<%end%>>
            <a href="/my/rules">
              <span>我的规则</span>
            </a>
          </li>
          <li <%if controller_name=='categories'%>class="active"<%end%>>
            <a href="/my/categories">
              <span>规则分组</span>
            </a>
          </li>
        </ul>
      </li>
      <% if current_user.isadmin? %>
      <li class="dropdown<%if (controller_name=='targets' || controller_name=='sensitives')%> collapse-open open<%end%>">
        <a href="javascript:;" data-toggle="dropdown">
          <i class="fa fa-desktop"></i>
          <span>资产管理</span>
          <i class="toggle-accordion"></i>
        </a>
        <ul class="dropdown-menu">
          <li <%if controller_name=='targets'%>class="active"<%end%>>
            <a href="/my/targets">
              <span>目标管理</span>
            </a>
          </li>
          <li <%if controller_name=='sensitives'%>class="active"<%end%>>
            <a href="/my/sensitives">
              <span>其他信息</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="javascript:;" data-toggle="dropdown">
          <i class="fa fa-crosshairs"></i>
          <span>漏洞管理</span>
          <i class="toggle-accordion"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="boxed.html">
              <span>Boxed</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown<%if (controller_name=='sgk')%> collapse-open open<%end%>">
        <a href="javascript:;" data-toggle="dropdown">
          <i class="fa fa-search"></i>
          <span>数据查询</span>
          <i class="toggle-accordion"></i>
        </a>
        <ul class="dropdown-menu">
          <li <%if controller_name=='sgk'%>class="active"<%end%>>
            <a href="/my/sgk">
              <span>社工库查询</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="javascript:;" data-toggle="dropdown">
          <i class="fa fa-tasks"></i>
          <span>其他管理</span>
          <i class="toggle-accordion"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="/sidekiq" target="_blank">
              <span>Sidekiq任务队列</span>
            </a>
          </li>
          <li>
            <a href="/admin" target="_blank">
              <span>数据后台</span>
            </a>
          </li>
        </ul>
      </li>
      <% end %>
    </ul>
  </nav>
</div>